@use "../swiper/swiper-wrapper";
@use "../swiper/swiper-slide";
@use "../swiper/swiper-pagination";

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}