.primary-nav {
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-item-has-children {
    position: relative;
    padding-right: 15px;

    &::after {
      position: absolute;
      font-family: "fontello";
      font-size: 12px;
      transition: 250ms all;
    }
  }

  .current_page_item a {
    color: var(--primary-nav-color-hover);
  }

  .menu-depth-0 {

    &__item {

      &:not(:last-of-type) {
        margin-right: 1.5rem;
      }

      @media (max-width: 1950px) and (min-width: 1000px) {
        &:nth-last-of-type(1) {

          .menu-depth-1 {
            left: auto;
            right: 0;
          }

          .menu-depth-2 {
            left: auto;
            right: calc(100% + 1rem);
            outline: 1px solid red;

            &::before {
              left: 100%;
            }
          }
        }
      }

      @media (max-width: 1650px) and (min-width: 1000px) {
        &:nth-last-of-type(2) {

          .menu-depth-1 {
            left: auto;
            right: 0;
          }

          .menu-depth-2 {
            left: auto;
            right: calc(100% + 2rem);
          }
        }
      }

      @media (max-width: 1450px) and (min-width: 1150px) {
        &:nth-last-of-type(3) {

          .menu-depth-1 {
            left: auto;
            right: 0;
          }
        }

        .menu-depth-2 {
          left: auto;
          right: calc(100% + 2rem);
        }
      }

      &.menu-item-has-children {
        position: relative;
        padding-right: 15px;







        &::after {
      /*    font-family: dashicons;
          content: "\f347";
          top: 2px;
          right: -5px;
          color: var(--primary-nav-submenu-arrow, #fff);
          color: red;
          display: inline-block;
          line-height: 1;
          font-weight: 400;
          font-style: normal;
          speak: never;
          text-decoration: inherit;
          text-transform: none;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          width: 20px;
          height: 20px;
          font-size: 20px;
          vertical-align: top;
          text-align: center;*/
          content: '';
          margin-top: 7px;
          margin-left: 4px;
          border: solid var(--primary-nav-submenu-arrow, #fff);
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(45deg);
        }
      }

      @media (min-width: 1000px) {
        &:hover, &:focus {
          &::after {
            transform: rotate(-135deg);
            border: solid var(--primary-nav-color-hover, #fff);
            border-width: 0 2px 2px 0;
            margin-top: 9px;
          }

          & .menu-depth-1 {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }

    &__link {
      color: var(--primary-nav-color);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      transition: 250ms color;

      &:hover, &:focus {
        color: var(--primary-nav-color-hover, #fff);
      }
    }
  }

  .menu-depth-1, .menu-depth-2 {
    background-color: var(--primary-nav-submenu-background, #fff);
    padding: 1rem 0;
    min-width: 230px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: 250ms all;
    box-shadow: 0 4px 16px var(--primary-nav-submenu-shadow);
    z-index: 9999;

    &__item {
      padding: 8px 0;
      border-bottom: 1px var(--primary-nav-submenu-border);
      border-style: var(--primary-nav-submenu-border-style);

      &.menu-item-has-children {
        position: relative;
        padding-right: 15px;

        &::after {
          content: "";
          position: absolute;
          top: 30%;
          right: 25px;
          border: solid var(--primary-nav-submenu-color, #fff);
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg);
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 100%;
          width: 15px;
          height: 100%;
        }
      }
    }

    &__link {
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      color: var(--primary-nav-submenu-color);
      transition: 250ms all;
      display: block;
      padding: 0 1rem;

      &:hover, &:focus {
        color: var(--primary-nav-submenu-color-hover);
        font-weight: 700;
      }
    }
  }

  .menu-depth-1 {
    position: absolute;
    top: calc(100% + 15px);
    left: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 15px;
    }

    &__item {
      @media (min-width: 1000px) {
        &:hover, &:focus {
          & .menu-depth-2 {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }

  .menu-depth-2 {
    position: absolute;
    top: 0;
    left: calc(100% + 1rem - 1px);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 15px;
      height: 100%;
    }
  }

  .menu-item.wpml-ls-item {
    width: unset;

    .sub-menu {
      top: 100%;
      left: 0;
      right: unset;
      min-width: unset;
      background-color: unset;
      box-shadow: unset;
      border-bottom: unset;
      padding: 0;
      border-radius: unset;

      &:before {
        all: unset;
      }

      .wpml-ls-item {
        padding: 0;
        border-bottom: unset;
        border-style: unset;

        .sub-menu-link {
          padding: 0;
        }
      }
    }
  }
}


@media (max-width: 1000px) {
  .primary-nav {
    --primary-nav-width: calc(100% - 67px);
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    background-color: var(--primary-nav-background-mobile);
    width: 100%;
    max-width: var(--primary-nav-width);
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translateX(-100%);
    z-index: 9999;

    &_showed {
      transition: 250ms all;
      transform: translateX(0);
      box-shadow: 50px 0 60px 0 rgb(0 0 0 / 50%);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        background: red;
        width: 67px;
        height: 100%;
        z-index: 9999;
      }
    }

    &__logo {
      max-width: var(--logo-max-width);
      padding: 10px;
      position: relative;
      left: 50%;
      transform: translateX(-50%)
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 0;
    }

    .back-item {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 10px;
      position: relative;
      color: var(--primary-nav-color-mobile);

      &::after {
        content: '';
        border: solid var(--primary-nav-color-mobile, #fff);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        margin-right: 5px;
      }
    }

    .menu-depth-0, .menu-depth-1, .menu-depth-2 {
      display: none;

      &__list {
        padding: 1rem 0;
      }

      &__item {
        display: block;
        width: 100%;
        padding: 0;

        &:not(:last-of-type) {
          margin-right: 0;
        }

        &.menu-item-has-children {
          padding-right: 0;

          &::before {
            content: none;
          }

          &::after {
            //line-height: 50px;
            transform: rotate(-90deg);

          }

          &::after {
            position: absolute;
            top: 30%;
            right: 25px;
            content: '';
            transform: rotate(-45deg);
          }
        }
      }

      &__link {
        color: var(--primary-nav-color-mobile);
        border-bottom: 1px var(--primary-nav-submenu-border);
        border-style: var(--primary-nav-submenu-border-style);
        display: block;
        font-weight: 500;
        padding: 15px 10px;
      }
    }
  }
}
