@use "src/scss/base/mixins";

.version_7 {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  grid-template-rows: auto;
  grid-template-areas:
        "logo content button";
  gap: 8px 16px;
  align-items: center;
  background: var(--background);
  padding: 8px;

  &__logo {
    @include mixins.sizeRatio(48px);
    overflow: hidden;
    background: var(--bg-icon);
    grid-area: logo;

    .image-func {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-content {
      display: flex;
      flex-direction: column;

    }
  }

  &__content {
    display: flex;
    grid-area: content;
    align-items: center;

    &>*:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
  }

  &__rating {
    display: flex;
    align-items: center;

    &-stars {
      background: #D4540C;
      --percent: calc(100% / 5 * var(--rating, 5));
      --end-gradient: calc(100% - var(--percent, 100%));
      background: linear-gradient(90deg, #FEC84B var(--percent), #CECECEFF var(--end-gradient));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-size: 20px;
      line-height: 20px;
      margin-right: 4px;
    }

    &-value {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--subtitle-color);
    }
  }

  &__button {
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    grid-area: button;
  }
  @media (max-width: 850px) {
    &__rating {
      &-stars:nth-child(2) {
        display: none;
      }
    }
    .brands-bonus {
      display: none;
    }
  }

  @media (min-width: 850px) {
    width: 90%;
    margin: 0 auto;
    &__rating {
      &-stars:first-child {
        display: none;
      }
    }
  }
}