.page-not-found {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__value {
    font-size: 7rem;
    font-weight: 600;
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 1rem;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
  }

  &__link {
    display: block;
    text-align: center;
    font-size: 1.5rem;
  }
}
