.footer-column {

  &__title {
    color: var(--footer-title-color);
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 10px;
    margin-bottom: 1rem;
    display: block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 140px;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
  }

  .menu {
    a {
      color: var(--footer-item-color);
      text-decoration: none;
      display: block;
      margin: 0.5rem 0;

      &:hover, &:focus {
        color: var(--footer-item-color-hover);
      }
    }
  }
}
