
/*

@media (max-width: 1150px) {
  .page-header {
    position: relative;
  }
}

@media (max-width: 1000px) {
  .page-header {

    &__block {
      padding: 0;
    }

    &_hidden {
      transform: translateY(calc(-100% - 47px));
    }

    &_fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      padding: 0;

      &_active {
        transform: translateY(0);
        transition: 250ms all;
      }
    }
  }
}
*/
