.page-footer {
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: var(--footer-background);

  &__block {
    display: flex;
    flex-wrap: wrap;
    margin: - 1rem;
    color: var(--footer-item-color);
  }

  &__item {
    width: calc(100% / 4 - 2rem);
    margin: 1rem;
  }
}

@media (max-width: 950px) {
  .page-footer {

    &__item {
      width: calc(100% / 2 - 2rem);
    }
  }
}

@media (max-width: 700px) {
  .page-footer {

    &__item {
      width: calc(100% - 2rem);
    }
  }
}
