.social-list {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;

  &__item {
    width: 35px;
    height: 35px;
    background-color: var(--footer-social-background);
    text-align: center;
    line-height: 35px;
    transition: 250ms all;

    &:not(:last-of-type) {
      margin-right: 20px;
    }

    &:hover, &:focus {
      opacity: 0.8;
    }

    a {
      color: var(--footer-social-color);
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 950px) {
  .social-list {
    justify-content: flex-start;
  }
}
