@use "brands__row-grid";

.brands-head {
  display: none;

  &__row {
    box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    @include brands__row-grid.row-grid;

    &:first-child {
      --border-right-row: 1px solid #EAECF0;
      background: var(--bg-row);
    }
  }

  &__icon {
    border-right: var(--border-right-row);
  }

  @media (max-width: 1250px) {
    display: none;
  }

}